---
import Header from '../components/Header.astro';
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Bloooooog!";
const allPosts = await Astro.glob('./posts/*.md');
---


<body>
    <Header />
    <h1>{pageTitle}</h1>
<p>This is where I will post about my journey learning Astro.</p>
<ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</ul>
  <Footer />
  <script>
	import "../scripts/menu.js";
	</script>
</body>