---
---
<div class="nav-links menu">
    <a class="menuItem" href="/">Home</a>
    <a class="menuItem" href="/about">About</a>
    <a class="menuItem" href="/blog">Blog</a>
    <a class="menuItem" href="/links">Links</a>
    <a class="menuItem" href="/tags/">Tags</a>
  </div>

